<form #employeeForm="ngForm" (ngSubmit)="onSubmit()">
    <label for="first_name">First Name:</label>
    <input id="first_name" name="first_name" [(ngModel)]="editableEmployee.first_name" type="text" required>

    <label for="last_name">Last Name:</label>
    <input id="last_name" name="lastName" [(ngModel)]="editableEmployee.last_name" type="text" required>

    <label for="email">Email:</label>
    <input id="email" name="email" [(ngModel)]="editableEmployee.email" type="email" required>

    <label for="salary">Salary:</label>
    <input id="salary" name="salary" [(ngModel)]="editableEmployee.salary" type="number" required>

    <label for="designation">Designation:</label>
    <input id="designation" name="designation" [(ngModel)]="editableEmployee.designation" type="text" required>

    <label for="gender">Gender:</label>
    <select id="gender" name="gender" [(ngModel)]="editableEmployee.gender" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>

    <label for="department">Department:</label>
    <input id="department" name="department" [(ngModel)]="editableEmployee.department" type="text" required>

    <label for="employee_photo">Employee Photo:</label>
    <input id="employee_photo" name="employee_photo" [(ngModel)]="editableEmployee.employee_photo" type="text" required>

    <button type="submit">Edit Employee</button>
</form>
