<form #employeeForm="ngForm" (ngSubmit)="onSubmit()">
    <label for="firstName">Firt Name:</label>
    <input id="firstName" name="firstName" [(ngModel)]="employee.firstName" type="text" required>
  
    <label for="lastName">Last name:</label>
    <input id="lastName" name="lastName" [(ngModel)]="employee.lastName" type="text" required>
  
    <label for="email">Email:</label>
    <input id="email" name="email" [(ngModel)]="employee.email" type="email" required>
  
    <label for="salary">Salary:</label>
    <input id="salary" name="salary" [(ngModel)]="employee.salary" type="number" required>
  
    <label for="designation">Designation:</label>
    <input id="designation" name="designation" [(ngModel)]="employee.designation" type="text" required>
  
    <label for="gender">Gender:</label>
    <input id="gender" name="gender" [(ngModel)]="employee.gender" type="text" required>
  
    <label for="department">Department:</label>
    <input id="department" name="department" [(ngModel)]="employee.department" type="text" required>

    <label for="department">Employee Photo:</label>
    <input id="department" name="department" [(ngModel)]="employee.employee_photo" type="text" required>
  
    <button type="submit">Add Employee</button>
</form>
