body {
  font-family: Arial, sans-serif;
}

.table-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

thead th {
  border-bottom: 2px solid #ddd;
  background-color: #f4f4f4;
  font-weight: bold;
  text-transform: uppercase;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td:nth-child(5) {
  text-align: right;
}

td img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.details-btn {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
}

.details-btn:hover {
  background-color: #0056b3;
}

.btn {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}

.add-btn {
  background-color: #007bff;
  color: white;
}

.add-btn:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background-color: #28a745;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
}



.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 300px;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px 0 0 15px;
}

.search-btn {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s ease-in-out;
}

.search-btn:hover {
  background: #0056b3;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
  border-radius: 5px;
  margin: 10px;
}
