<table border="1">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Photo</th>
        <th>Designation</th>
        <th>Department</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{ emp.first_name }}</td>
        <td>{{ emp.last_name }}</td>
        <td>{{ emp.gender }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.salary }}</td>
        <td>{{ emp.employee_photo }}</td>
        <td>{{ emp.designation }}</td>
        <td>{{ emp.department }}</td>
        <td>
            <a>Details</a>
            <a href="/edit/{{emp.id}}" >Edit</a>
            <a href="/delete" >Delete</a>
        </td>
      </tr>
    </tbody>
  </table>